*{
  margin:0;
  padding:0;
  box-sizing:border-box
}
.sidebar{
  background-color: #224A7B;
  height:100vh;
  color:white;
  position:fixed;
  
}
.logo{
  height:50px;
  width: auto;
}
.link{
  display: flex;
  color:white;
  gap:15px;
  padding: 5px 10px;
  
}
.top-section{
  display: flex;
  justify-content: space-between;
}
.routes{
  align-items: left;
}
.icon{
  padding-top: 0px!important;
  margin-left: 0px !important;
}
.link{
  text-decoration: none;
}
.link:hover{
border-right: 4px solid white;
background-color: rgb(148, 148, 206);

}
.App{
  position: relative;
color:#F0F0F0;
}
.projectname{
  background-color: white;
  width:450px;
  height: 300px;
  padding: 10px;
}
.marketing{
  width: 450px;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}
.marketingdetails{
  display: flex;
}
.marketing>div{
  display: flex;
  justify-content: space-between;
}
.dflex>h4{
  border-right: 1px solid gray;
  padding: 5px;
}
.dflex{
  display: flex;
  justify-content: space-between;
}
.marketingdetails>h4{
  border-right: 1px solid gray;
  padding: 10px;

}

.PieChart{
  display: inline-block;
}
.dashaddon{
  height: 100vh;
  width: 150px;
  background-color: white;
  
  color:black
}

.maindash{
  width: 40vw;
}

.sidemenu{
  width:200px;
  background-color: #224A7B;
  height:100vh;
  color:white;
  position:absolute ;
}
.icon{
  color:white;
}
ul>li{
  list-style-type: none;
}
li{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.Dashboard,.Clients,.Consumers,.Departments,.Insights,.Projects{
  margin-left: 200px;
  margin-right:0px ;
  width: 70vw;
  height: 100vh;
  color:black;
  position: absolute;
  background-color: rgb(241, 246, 252);
}
